body{
    margin: 0;
    padding: 0;
    background-color: blue;
}

.b1{
    width: 200px;
    height: 100px;
    background-color: #c32c49;
    border-radius: 20px;
    animation: my-animation 3s infinite;


}

@keyframes my-animation {
    0% {
        transform: rotate(180deg);
        margin-left: 0;
        margin-top: 0;
        background-color: deeppink;
    }

    25% {
        transform: rotate(0deg);
        margin-left: calc(100vw - 150px);
        margin-top: 0;
        background-color: blue;
    }

    50% {
        transform: rotate(100deg);
        margin-left: calc(100vw - 150px);
        margin-top: calc(100vh - 80px);
        background-color: black;
    }

    75% {
        transform: rotate(150deg);
        margin-left: 0;
        margin-top: calc(100vh - 80px);
        background-color: red;

    }

    100% {
        background-color: #194e60;
    }
}